<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.png" type="image/x-icon">
  </head>
  <body>
    <div id="app">
      <header class="header">
                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                              <div class="header-menu"><a class="header-menu__logo-wrapper" href="#"><img class="header-menu__img" alt="LOGO" title="LOGO" src="../public/img/logo.svg"/></a>
                                                                        <form class="header-menu__form"><input class="header-menu__input" type="search" placeholder="Search"/>
                                                                        </form>
                                                                        <div class="header-menu__navigation">
                                                                                                  <ul class="header-menu__list"> 
                                                                                                                            <li class="header-menu__item"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="HOME" title="HOME" src="../public/icons/home.svg"/></a>
                                                                                                                            </li>
                                                                                                                            <li class="header-menu__item header-menu__item--message"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="DIRECT" title="DIRECT" src="../public/icons/direct.svg"/></a>
                                                                                                                            </li>
                                                                                                                            <li class="header-menu__item"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="COMPASS" title="COMPASS" src="../public/icons/compass.svg"/></a>
                                                                                                                            </li>
                                                                                                                            <li class="header-menu__item"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="HEART" title="HEART" src="../public/icons/heart.svg"/></a>
                                                                                                                            </li>
                                                                                                                            <li class="header-menu__item"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="ELLIPSE" title="ELLIPSE" src="../public/icons/Ellipse 37.svg"/></a>
                                                                                                                            </li>
                                                                                                  </ul>
                                                                        </div>
                                              </div>
                          </div>
      </header>
      <section class="persone"> 
                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                              <div class="bio"> 
                                                                  <div class="header">
                                                                                            <div class="header__left-side"> 
                                                                                                                      <div class="header__avatar-wrapper"> <img class="header__avatar img" src="../public/img/main-image.png"/>
                                                                                                                      </div>
                                                                                            </div>
                                                                                            <div class="header__right-side"> 
                                                                                                                <div class="top-info"> 
                                                                                                                                          <h2 class="top-info__nickname">Nickname 
                                                                                                                                          </h2>
                                                                                                                                    <div class="actions-row">
                                                                                                                                                              <ul class="actions-row__list"> 
                                                                                                                                                                                        <li class="actions-row__item"><a class="actions-row__link" href="#">Follow</a>
                                                                                                                                                                                        </li>
                                                                                                                                                                                        <li class="actions-row__item">
                                                                                                                                                                                                                  <select class="actions-row__select actions-row__select--variant" name="action-select">
                                                                                                                                                                                                                                            <option class="actions-row__option"> 
                                                                                                                                                                                                                                            </option>
                                                                                                                                                                                                                  </select>
                                                                                                                                                                                        </li>
                                                                                                                                                                                        <li class="actions-row__item">
                                                                                                                                                                                                                  <select class="actions-row__select actions-row__select--more" name="more-select">
                                                                                                                                                                                                                                            <option class="actions-row__option">
                                                                                                                                                                                                                                            </option>
                                                                                                                                                                                                                  </select>
                                                                                                                                                                                        </li>
                                                                                                                                                              </ul>
                                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="bottom-info"> 
                                                                                                                                    <div class="stats-info"> 
                                                                                                                                                              <div class="stats-info__item"><span class="stats-info__number">79</span><span class="stats-info__text"> posts</span>
                                                                                                                                                              </div>
                                                                                                                                                              <div class="stats-info__item"><span class="stats-info__number">379</span><span class="stats-info__text"> followers</span>
                                                                                                                                                              </div>
                                                                                                                                                              <div class="stats-info__item"><span class="stats-info__number">179</span><span class="stats-info__text"> following</span>
                                                                                                                                                              </div>
                                                                                                                                    </div>
                                                                                                                                    <div class="description"> <span class="description__name">Name </span>
                                                                                                                                                              <p class="description__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                                                                                                                                                              </p><a class="description__link" href="#">bit.ly/35Ce3mX</a>
                                                                                                                                    </div>
                                                                                                                </div>
                                                                                            </div>
                                                                  </div>
                                                                  <div class="stories"> 
                                                                                      <div class="stories-block"> 
                                                                                                                <div class="stories-block__story-wrapper"> <img class="stories-block__story-img img" src="../public/img/circle.png"/><span class="stories-block__name">Name</span>
                                                                                                                </div>
                                                                                                                <div class="stories-block__story-wrapper"> <img class="stories-block__story-img img" src="../public/img/circle.png"/><span class="stories-block__name">Name</span>
                                                                                                                </div>
                                                                                                                <div class="stories-block__story-wrapper"> <img class="stories-block__story-img img" src="../public/img/circle.png"/><span class="stories-block__name">Name</span>
                                                                                                                </div>
                                                                                      </div>
                                                                  </div>
                                              </div>
                          </div>
      </section>
      <section class="galery">
                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                              <div class="galery-menu"> 
                                                                  <div class="menu-item menu-item--active">
                                                                                            <div class="menu-item__image-wrapper"> <img class="menu-item__image img" src="../public/img/grid.png"/>
                                                                                            </div><span class="menu-item__name">POSTS</span>
                                                                  </div>
                                                                  <div class="menu-item">
                                                                                            <div class="menu-item__image-wrapper"> <img class="menu-item__image img" src="../public/img/persone.png"/>
                                                                                            </div><span class="menu-item__name">TAGGED</span>
                                                                  </div>
                                              </div>
                                              <div class="photos g-cell g-cols g-cols g-cols--12">
                                                                  <div class="d-cell">
                                                                                      <div class="g-row g-row g-row--appearance_spaced">
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                                          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
                                                                                                          </div>
                                                                                      </div>
                                                                  </div>
                                              </div>
                          </div>
      </section>
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>