
<section class="persone"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="bio"> 
      <div class="header">
        <div class="header__left-side"> 
          <div class="header__avatar-wrapper"> <img class="header__avatar img" src="../public/img/main-image.png"/>
          </div>
        </div>
        <div class="header__right-side"> 
          <div class="top-info"> 
            <h2 class="top-info__nickname">Nickname 
            </h2>
            <div class="actions-row">
              <ul class="actions-row__list"> 
                <li class="actions-row__item"><a class="actions-row__link" href="#">Follow</a>
                </li>
                <li class="actions-row__item">
                  <select class="actions-row__select actions-row__select--variant" name="action-select">
                    <option class="actions-row__option"> 
                    </option>
                  </select>
                </li>
                <li class="actions-row__item">
                  <select class="actions-row__select actions-row__select--more" name="more-select">
                    <option class="actions-row__option">
                    </option>
                  </select>
                </li>
              </ul>
            </div>
          </div>
          <div class="bottom-info"> 
            <div class="stats-info"> 
              <div class="stats-info__item"><span class="stats-info__number">79</span><span class="stats-info__text"> posts</span>
              </div>
              <div class="stats-info__item"><span class="stats-info__number">379</span><span class="stats-info__text"> followers</span>
              </div>
              <div class="stats-info__item"><span class="stats-info__number">179</span><span class="stats-info__text"> following</span>
              </div>
            </div>
            <div class="description"> <span class="description__name">Name </span>
              <p class="description__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
              </p><a class="description__link" href="#">bit.ly/35Ce3mX</a>
            </div>
          </div>
        </div>
      </div>
      <div class="stories"> 
        <div class="stories-block"> 
          <div class="stories-block__story-wrapper"> <img class="stories-block__story-img img" src="../public/img/circle.png"/><span class="stories-block__name">Name</span>
          </div>
          <div class="stories-block__story-wrapper"> <img class="stories-block__story-img img" src="../public/img/circle.png"/><span class="stories-block__name">Name</span>
          </div>
          <div class="stories-block__story-wrapper"> <img class="stories-block__story-img img" src="../public/img/circle.png"/><span class="stories-block__name">Name</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>