
<header class="header">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="header-menu"><a class="header-menu__logo-wrapper" href="#"><img class="header-menu__img" alt="LOGO" title="LOGO" src="../public/img/logo.svg"/></a>
      <form class="header-menu__form"><input class="header-menu__input" type="search" placeholder="Search"/>
      </form>
      <div class="header-menu__navigation">
        <ul class="header-menu__list"> 
          <li class="header-menu__item"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="HOME" title="HOME" src="../public/icons/home.svg"/></a>
          </li>
          <li class="header-menu__item header-menu__item--message"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="DIRECT" title="DIRECT" src="../public/icons/direct.svg"/></a>
          </li>
          <li class="header-menu__item"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="COMPASS" title="COMPASS" src="../public/icons/compass.svg"/></a>
          </li>
          <li class="header-menu__item"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="HEART" title="HEART" src="../public/icons/heart.svg"/></a>
          </li>
          <li class="header-menu__item"> <a class="header-menu__link" href="#"><img class="header-menu__img" alt="ELLIPSE" title="ELLIPSE" src="../public/icons/Ellipse 37.svg"/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>