
<section class="galery">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="galery-menu"> 
      <div class="menu-item menu-item--active">
        <div class="menu-item__image-wrapper"> <img class="menu-item__image img" src="../public/img/grid.png"/>
        </div><span class="menu-item__name">POSTS</span>
      </div>
      <div class="menu-item">
        <div class="menu-item__image-wrapper"> <img class="menu-item__image img" src="../public/img/persone.png"/>
        </div><span class="menu-item__name">TAGGED</span>
      </div>
    </div>
    <div class="photos g-cell g-cols g-cols g-cols--12">
      <div class="d-cell">
        <div class="g-row g-row g-row--appearance_spaced">
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
          <div class="image-wrapper g-cell g-cols g-cols g-cols--12 g-cols g-cols--4-xs"> <img class="img d-cell" src="../public/img/main-image.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>